/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Base Styles
- Grid
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 1.5rem = 15px */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-size: 1.5em; /* body must use em */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #fff;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 550px) {
  .container {
	width: 535px;
  }
}
@media (min-width: 750px) {
  .container {
	width: 732px;
  }
}
@media (min-width: 1000px) {
  .container {
	width: 978px;
  }
}
@media (min-width: 1200px) {
  .container {
	width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.column {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 550px) {
  .column {
	float: left;
  }
}
.xsmall-1 {
	width: 8.33333333%;
}
.xsmall-2 {
	width: 16.66666667%;
}
.xsmall-3 {
	width: 25%;
}
.xsmall-4 {
	width: 33.33333333%;
}
.xsmall-5 {
	width: 41.66666667%;
}
.xsmall-6 {
	width: 50%;
}
.xsmall-7 {
	width: 58.33333333%;
}
.xsmall-8 {
	width: 66.66666667%;
}
.xsmall-9 {
	width: 75%;
}
.xsmall-10 {
	width: 83.33333333%;
}
.xsmall-11 {
	width: 91.66666667%;
}
.xsmall-12 {
	width: 100%;
}
.xsmall-offset-0 {
	margin-left: 0%;
}
.xsmall-offset-1 {
	margin-left: 8.33333333%;
}
.xsmall-offset-2 {
	margin-left: 16.66666667%;
}
.xsmall-offset-3 {
	margin-left: 25%;
}
.xsmall-offset-4 {
	margin-left: 33.33333333%;
}
.xsmall-offset-5 {
	margin-left: 41.66666667%;
}
.xsmall-offset-6 {
	margin-left: 50%;
}
.xsmall-offset-7 {
	margin-left: 58.33333333%;
}
.xsmall-offset-8 {
	margin-left: 66.66666667%;
}
.xsmall-offset-9 {
	margin-left: 75%;
}
.xsmall-offset-10 {
	margin-left: 83.33333333%;
}
.xsmall-offset-11 {
	margin-left: 91.66666667%;
}
.xsmall-offset-12 {
	margin-left: 100%;
}
@media (min-width: 550px) {
	.small-1 {
		width: 8.33333333%;
	}
	.small-2 {
		width: 16.66666667%;
	}
	.small-3 {
		width: 25%;
	}
	.small-4 {
		width: 33.33333333%;
	}
	.small-5 {
		width: 41.66666667%;
	}
	.small-6 {
		width: 50%;
	}
	.small-7 {
		width: 58.33333333%;
	}
	.small-8 {
		width: 66.66666667%;
	}
	.small-9 {
		width: 75%;
	}
	.small-10 {
		width: 83.33333333%;
	}
	.small-11 {
		width: 91.66666667%;
	}
	.small-12 {
		width: 100%;
	}
	.small-offset-0 {
		margin-left: 0%;
	}
	.small-offset-1 {
		margin-left: 8.33333333%;
	}
	.small-offset-2 {
		margin-left: 16.66666667%;
	}
	.small-offset-3 {
		margin-left: 25%;
	}
	.small-offset-4 {
		margin-left: 33.33333333%;
	}
	.small-offset-5 {
		margin-left: 41.66666667%;
	}
	.small-offset-6 {
		margin-left: 50%;
	}
	.small-offset-7 {
		margin-left: 58.33333333%;
	}
	.small-offset-8 {
		margin-left: 66.66666667%;
	}
	.small-offset-9 {
		margin-left: 75%;
	}
	.small-offset-10 {
		margin-left: 83.33333333%;
	}
	.small-offset-11 {
		margin-left: 91.66666667%;
	}
	.small-offset-12 {
		margin-left: 100%;
	}
}
@media (min-width: 750px) {
	.medium-1 {
		width: 8.33333333%;
	}
	.medium-2 {
		width: 16.66666667%;
	}
	.medium-3 {
		width: 25%;
	}
	.medium-4 {
		width: 33.33333333%;
	}
	.medium-5 {
		width: 41.66666667%;
	}
	.medium-6 {
		width: 50%;
	}
	.medium-7 {
		width: 58.33333333%;
	}
	.medium-8 {
		width: 66.66666667%;
	}
	.medium-9 {
		width: 75%;
	}
	.medium-10 {
		width: 83.33333333%;
	}
	.medium-11 {
		width: 91.66666667%;
	}
	.medium-12 {
		width: 100%;
	}
	.medium-offset-0 {
		margin-left: 0%;
	}
	.medium-offset-1 {
		margin-left: 8.33333333%;
	}
	.medium-offset-2 {
		margin-left: 16.66666667%;
	}
	.medium-offset-3 {
		margin-left: 25%;
	}
	.medium-offset-4 {
		margin-left: 33.33333333%;
	}
	.medium-offset-5 {
		margin-left: 41.66666667%;
	}
	.medium-offset-6 {
		margin-left: 50%;
	}
	.medium-offset-7 {
		margin-left: 58.33333333%;
	}
	.medium-offset-8 {
		margin-left: 66.66666667%;
	}
	.medium-offset-9 {
		margin-left: 75%;
	}
	.medium-offset-10 {
		margin-left: 83.33333333%;
	}
	.medium-offset-11 {
		margin-left: 91.66666667%;
	}
	.medium-offset-12 {
		margin-left: 100%;
	}
}
@media (min-width: 1000px) {
	.large-1 {
		width: 8.33333333%;
	}
	.large-2 {
		width: 16.66666667%;
	}
	.large-3 {
		width: 25%;
	}
	.large-4 {
		width: 33.33333333%;
	}
	.large-5 {
		width: 41.66666667%;
	}
	.large-6 {
		width: 50%;
	}
	.large-7 {
		width: 58.33333333%;
	}
	.large-8 {
		width: 66.66666667%;
	}
	.large-9 {
		width: 75%;
	}
	.large-10 {
		width: 83.33333333%;
	}
	.large-11 {
		width: 91.66666667%;
	}
	.large-12 {
		width: 100%;
	}
	.large-offset-0 {
		margin-left: 0%;
	}
	.large-offset-1 {
		margin-left: 8.33333333%;
	}
	.large-offset-2 {
		margin-left: 16.66666667%;
	}
	.large-offset-3 {
		margin-left: 25%;
	}
	.large-offset-4 {
		margin-left: 33.33333333%;
	}
	.large-offset-5 {
		margin-left: 41.66666667%;
	}
	.large-offset-6 {
		margin-left: 50%;
	}
	.large-offset-7 {
		margin-left: 58.33333333%;
	}
	.large-offset-8 {
		margin-left: 66.66666667%;
	}
	.large-offset-9 {
		margin-left: 75%;
	}
	.large-offset-10 {
		margin-left: 83.33333333%;
	}
	.large-offset-11 {
		margin-left: 91.66666667%;
	}
	.large-offset-12 {
		margin-left: 100%;
	}
}
@media (min-width: 1200px) {
	.xlarge-1 {
		width: 8.33333333%;
	}
	.xlarge-2 {
		width: 16.66666667%;
	}
	.xlarge-3 {
		width: 25%;
	}
	.xlarge-4 {
		width: 33.33333333%;
	}
	.xlarge-5 {
		width: 41.66666667%;
	}
	.xlarge-6 {
		width: 50%;
	}
	.xlarge-7 {
		width: 58.33333333%;
	}
	.xlarge-8 {
		width: 66.66666667%;
	}
	.xlarge-9 {
		width: 75%;
	}
	.xlarge-10 {
		width: 83.33333333%;
	}
	.xlarge-11 {
		width: 91.66666667%;
	}
	.xlarge-12 {
		width: 100%;
	}
	.xlarge-offset-0 {
		margin-left: 0%;
	}
	.xlarge-offset-1 {
		margin-left: 8.33333333%;
	}
	.xlarge-offset-2 {
		margin-left: 16.66666667%;
	}
	.xlarge-offset-3 {
		margin-left: 25%;
	}
	.xlarge-offset-4 {
		margin-left: 33.33333333%;
	}
	.xlarge-offset-5 {
		margin-left: 41.66666667%;
	}
	.xlarge-offset-6 {
		margin-left: 50%;
	}
	.xlarge-offset-7 {
		margin-left: 58.33333333%;
	}
	.xlarge-offset-8 {
		margin-left: 66.66666667%;
	}
	.xlarge-offset-9 {
		margin-left: 75%;
	}
	.xlarge-offset-10 {
		margin-left: 83.33333333%;
	}
	.xlarge-offset-11 {
		margin-left: 91.66666667%;
	}
	.xlarge-offset-12 {
		margin-left: 100%;
	}
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB;
}
a:hover {
  color: #0FA0CE;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; 
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
	 -moz-appearance: none;
		  appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.full-width {
  width: 100%;
  box-sizing: border-box;
}
.max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Base = xs */

/* Larger than phone (also point when grid becomes active) = sm */
@media (min-width: 550px) {}

/* Larger than tablet = md */
@media (min-width: 750px) {}

/* Larger than desktop = lg */
@media (min-width: 1000px) {}

/* Larger than Desktop HD = xl */
@media (min-width: 1200px) {}
